In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('car_evaluation.csv')

In [3]:
data.corr()

                doors       persons
doors    1.000000e+00 -9.989138e-17
persons -9.989138e-17  1.000000e+00

In [4]:
data.head()

  buying  maint  doors  persons lug_boot safety outcome
0  vhigh  vhigh      2        2    small    low   unacc
1  vhigh  vhigh      2        2    small    med   unacc
2  vhigh  vhigh      2        2    small   high   unacc
3  vhigh  vhigh      2        2      med    low   unacc
4  vhigh  vhigh      2        2      med    med   unacc

In [5]:
from sklearn.model_selection import train_test_split

In [9]:
x=data.loc[:,['doors','persons']]
y=data.loc[:,['safety']]

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y)

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
model=DecisionTreeClassifier()
model2=RandomForestClassifier()

In [18]:
model.fit(x_train,y_train)
model2.fit(x_train,y_train)

C:\Users\NANDINI\AppData\Local\Temp/ipykernel_8528/1998039814.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model2.fit(x_train,y_train)

RandomForestClassifier()

In [19]:
y_predict=model.predict(x_test)
y_predict2=model2.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score

In [16]:
accuracy_score(y_test,y_predict)

0.2638888888888889

In [21]:
accuracy_score(y_test,y_predict2)

0.2638888888888889