In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('hp-data.csv')

In [3]:
data.head()

,Unnamed: 0,price,place,built,sqft,sale,yearsOld,floor,totalFloor,bhk
0,1341,6300000,BTM Layout,Super built-up Area,1450,Resale,5,1,4,1
1,2126,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3
2,816,3800000,Whitefield,Super built-up Area,1019,Resale,1,2,5,2
3,2708,10500000,Ambalipura,Super built-up Area,1857,Resale,15,4,5,4
4,1041,11500000,Yelahanka,Super built-up Area,2190,Resale,5,3,5,3

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
e=LabelEncoder()

In [8]:
data.sale=e.fit_transform(data.sale)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
Unnamed: 0    3500 non-null int64
price         3500 non-null int64
place         3500 non-null object
built         3500 non-null object
sqft          3500 non-null int64
sale          3500 non-null int64
yearsOld      3500 non-null int64
floor         3500 non-null int64
totalFloor    3500 non-null int64
bhk           3500 non-null int64
dtypes: int64(8), object(2)
memory usage: 273.5+ KB

In [14]:
X=data.loc[:,['floor','totalFloor','bhk']]
Y=data.loc[:,['price']]

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVC

In [16]:
x_train,x_test,y_train,y_test=train_test_split(X,Y)

In [22]:
model=SVC(kernel='linear')
model.fit(x_train,y_train)

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [23]:
y_predict=model.predict(x_test)